<form action="#">
                <p>
                    <input type="checkbox" id="test5" />
                    <label for="test5">Red</label>
                </p>
                <p>
                    <input type="checkbox" id="test6" checked="checked" />
                    <label for="test6">Yellow</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                    <label for="filled-in-box">Filled in</label>
                </p>
                <p>
                    <input type="checkbox" id="indeterminate-checkbox" />
                    <label for="indeterminate-checkbox">Indeterminate Style</label>
                </p>
                <p>
                    <input type="checkbox" id="test7" checked="checked" disabled="disabled" />
                    <label for="test7">Green</label>
                </p>
                <p>
                    <input type="checkbox" id="test8" disabled="disabled" />
                    <label for="test8">Brown</label>
                </p>
            </form>