<div class="container-fluid dashboard">
    <div class="row">
        <div class="col xl3 l3 m3 s12 col-left">
            <div class="center-align valign-wrapper div-logo">
                <img class="logo" src="{{ link_logo }}">
            </div>
            <div class="search">
                <div class="search-wrapper card">
                    <input id="search"><i class="material-icons">search</i>
                </div>
            </div>
            <div class="list-component">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold active"><a class="collapsible-header active waves-effect waves-teal">Input</a>
                        <div class="collapsible-body" style="display: block;">
                            <ul>
                                <li><a routerLink="checkbox">Checkbox</a></li>
                                <li class="active"><a routerLink="radio">Radio</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col xl9 push-xl3 l9 push-l3 m9 push-m3 s12 col-right">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email" data-error="wrong" data-success="right">Email</label>
            </div>
            <div class="input-field col s12">
                <input type="date" class="datepicker">
            </div>
        </div>
    </div>
</div>
