.dashboard {
	height: 100vh;
}
.dashboard .col-left {
	border-right: 1px solid #ddd;
	position: fixed;
	position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.dashboard .col-left .div-logo{
	height: 150px;
}
.dashboard .col-left img.logo {
	width: 115px;
	height: 57px;
	line-height: 100px;	
	text-align: center;
	margin: 0 auto;
}
.dashboard .col-left .search{ 

}
.dashboard .col-left .search .search-wrapper{
}
.dashboard .col-left .search .search-wrapper #search{
	margin-bottom: 0;
	padding-left: 10px;
    width: 80%;
}

.dashboard .col-left .search .search-wrapper .material-icons{
	position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
    background-color: #fff;
}

.material-icons{
	font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.dashboard .col-right {
	background-color: #FCFCFC;
}
.dashboard .col-right img {
	width: 100%;
	height: auto;
}